/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/public/fotos
/public/productos
/storage/*.key
/storage/app/public/fotos
/storage/app/public/productos
/vendor
.env
.env.backup
.env.production
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode


/CHANGELOG.md
/implementation_plan.md
/planDeImplementacion.md
/planFinal.md
/plan_membresias_multiples.md
/requisitos.md
